aiohttp==3.12.15
chromadb==1.1.0
langchain==0.3.27
langchain_chroma==0.2.6
langchain_community==0.3.29
langchain_core==0.3.76
langchain_openai==0.3.33
langgraph==0.6.7
numpy==1.26.4
pandas==2.2.3
plotly==6.3.0
pydantic==2.11.9
python-dotenv==1.1.1
sentence_transformers==5.1.0
streamlit==1.49.1
tqdm==4.67.1
rank_bm25==0.2.2